<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conclusion</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/con.css') }}">
</head>
<body>
    <div class="container">
        <h1>Conclusion</h1>
        <p>In the presence of the system developed and applied a smart system that can suggest suitable crops for farmers across India. This system would help the farmers choose the best crop based on factors like Nitrogen, Phosphorous, Potassium, PH Value, Humidity, Temperature, and Rainfall. By using this research we can increase productivity of the country and produce profit out of such a technique. This research can enhance the country’s productivity and profitability by using this technique. This way, farmers can grow the right crop and increase their income and the country’s overall earnings. We have evaluated machine learning algorithms and discovered that Random Forest had the best accuracy among them.</p>
    </div>
</body>
</html>
